<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Register</title>
    <link rel="stylesheet" href="../index.css" />
  </head>
  <body>
    <div class="login-container">
      <h2>Create Account</h2>
      <form id="registerForm">
        <input type="text" id="username" placeholder="Username" required />
        <input type="password" id="password" placeholder="Password" required />
        <input
          type="password"
          id="confirmPassword"
          placeholder="Confirm Password"
          required
        />
        <button type="submit">Register</button>
      </form>
      <button id="backToLoginBtn" type="button">Back to Login</button>
      <p id="error" class="error"></p>
    </div>
    <script>
      document
        .getElementById("backToLoginBtn")
        .addEventListener("click", function () {
          window.location.href = "../../index.html";
        });
    </script>
    <script type="module" src="../scripts/register.js"></script>
  </body>
</html>
