<header class="app-header">
  <div class="header-left">
    <span class="app-title">Inventory Manager</span>
  </div>
  <nav class="header-nav">
    <a href="../views/products.html" data-page="products" class="nav-link"
      >Products</a
    >
    <a
      href="../views/transactions.html"
      data-page="transactions"
      class="nav-link"
      >Transactions</a
    >
    <!-- Future: <a href="#" data-page="categories" class="nav-link">Categories</a> -->
  </nav>
  <div class="header-right">
    <span id="headerUserInfo">Welcome, Guest</span>
    <button id="headerLogoutBtn" title="Logout">
      <i class="fa fa-sign-out-alt"></i> Logout
    </button>
  </div>
</header>
